.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media #{$tablet} {
        padding: 0 10px;
    }

    @media #{$mobile} {
        flex-direction: column;
        row-gap: 15px;
    }




    &__logo {
        max-width: 250px;

        img {
            width: 100%;
        }

        @media #{$tablet} {
            max-width: 170px;
        }

        @media #{$mobile} {

            display: block;
            max-width: 150px;
            margin-top: 10px;
            img {
                // width: 60%;
                margin: auto 0;
            }
        }

    }

    &__official {
        font-weight: 500;
        font-size: 12px;
        color: #fff;
        text-align: center;

        span {
            display: block;
            font-size: 18px;
        }

        @media #{$tablet} {
            font-size: 10px;

            span {
                font-size: 15px;
            }
        }
    }

    &__phone {
        display: block;
        font-weight: 700;
        font-size: 18px;
        /* line-height: 18px; */
        // line-height: 100%;
        // text-align: right;
        color: #fff;
        text-decoration: none;

        &:hover {
            color: #fff;
        }

        @media #{$tablet} {
            font-size: 15px;
        }
        @media #{$mobile} {
            text-align: center;
        }
    }

    &__contacts {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        @media #{$tablet} {
            
        }
        @media #{$mobile} {
            align-items:center;
        }
    }
}